section {
  display: flex;
}
.left {
  width: 15%;
  height: 100vh;
  background-color: gray;
  position: fixed;
}
.left ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem 0 0 2.5rem;
}

.left a {
  width: fit-content;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.5s ease-in;
  padding: 10px;
  border-radius: 10px;
}
.left a:hover,
ul .active {
  background-color: #fff;
  color: rgb(73, 72, 72) !important;
}
.right {
  width: 80%;
  margin-left: 17.5%;
  margin-bottom: 3rem;
}
.right .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block: 2rem;
  align-items: center;
}
.right .box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.right .header .week {
  text-align: center;
}
table {
  margin-top: 4rem;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  background-color: #dee6f5;
}
td,
th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}
td {
  font-weight: 500;
  padding: 20px;
}

/* tr:nth-child(even) {
  background-color: #fff;
} */

.content {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.content .update-title {
  width: fit-content;
  background-color: #e31313;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.content .box {
  padding: 2rem;
  background-color: #dee6f5;
  border-radius: 20px;
}
.content .group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.content .group p {
  width: 60%;
  font-weight: 600;
}
button {
  background-color: #9ad27d;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 600;
}
